

body {
	font-family: 'Raleway', sans-serif;
	background-color: #6A6A6A;
	color: #FFFFFF;
}
h1 {
	text-align: center;
}
h2 {
	color: #4B4B4B;
}
h3 {
	color: #6F6F6F;
}

div {
	background-color: #AFAFAF;
	border-radius: 15px;
  	margin: 20px;
  	padding: 20px;
}
a {
	color: #FFFFFF;
	text-decoration: none;
}
nav {
	text-align: center;
}
nav > a {
	border-left: 1px solid #FFFFFF;
	margin: 3px;
	padding: 0px 5px 0px 5px;
}
nav > a:hover {
	border-color: #000000;
}

